<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="27.5" fxFlex.xs="10"></div>
    <div class="login-card-container" fxFlex="45" fxFlex.xs="80">
      <mat-progress-bar
        mode="indeterminate"
        color="primary"
        *ngIf="isLoading"
      ></mat-progress-bar>
  
      <mat-card class="custom-card">

        <mat-card-header>
            <br />
            <mat-card-title align="center">Reset password</mat-card-title>
          </mat-card-header>
        <br /><br />

        <mat-card-content>



            <mat-stepper [linear]="true" #stepper (selectionChange)="stepSelectionChange($event)">
                <mat-step [stepControl]="usernameForm" label="Verify your username">
                    <br>
                  <form [formGroup]="usernameForm">
                    <mat-form-field appearance="outline">
                      <mat-label>Email or Phone number</mat-label>
                      <input matInput placeholder="+2507xxxxxxxx" formControlName="username" required>
                    </mat-form-field>
                  </form>
                </mat-step>
                <mat-step [stepControl]="otpForm" label="OTP Verification">
                    <br>
                  <form [formGroup]="otpForm">
                    
                      <mat-label>Enter OTP sent to your account</mat-label>
                      <br>
                      <ng-otp-input  [formCtrl]="otpControl"  [config]="{length:6}"></ng-otp-input>
                    
                  </form>
                </mat-step>
                <mat-step [stepControl]="passwordForm" label="Set password">
                    <br>
                    <form [formGroup]="passwordForm">
                        <mat-form-field appearance="outline">
                          <mat-label>Password</mat-label>
                          <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" required>
                          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{
                            passwordHide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </mat-form-field>
                      </form>
                </mat-step>
              </mat-stepper>
  
        </mat-card-content>


        <mat-card-actions>
            <div class="actions">
                <button
                    mat-flat-button
                    class="login-btn"
                    [disabled]="isLoading"
                    (click)="goToNextStep()"
                    color="primary"
                    >
                    <div [ngSwitch]="currenctStepIndex">
                        <div *ngSwitchCase="0">Send OTP</div>
                        <div *ngSwitchCase="1">Verify OTP</div>
                        <div *ngSwitchCase="2">Update password</div>
                        <div *ngSwitchDefault></div>
                    </div>
                </button>
                <button mat-button class="forgot-btn color-primary" routerLink="/login">
                  Got to login
                </button>
              </div>
        </mat-card-actions>
  
      </mat-card>
  
      <br />
  
      <div class="footer-container">
        <p class="copyright-text">
          &copy;UAMS {{ today.getFullYear() }}
        </p>
      </div>
    </div>
    <div fxFlex="27.5" fxFlex.xs="10"></div>
  </div>
  