.item-name {
  min-width: 130px;
}

.item-value {
  color: rgba(0, 0, 0, 0.54) !important;
}

.color-gray {
  color: rgba(0, 0, 0, 0.54) !important;
}

.custom-chip {
  padding: 5px 10px;
  border-radius: 20px;
  margin: auto 5px;
}

.action-btn {
  width: 100%;
}
