<h2 mat-dialog-title class="color-primary">Email verification</h2>
<p>Email verification is needed to access magic link feature</p>
<mat-dialog-content class="mat-typography">


    <mat-stepper [linear]="true" #stepper (selectionChange)="stepSelectionChange($event)">
        <mat-step [stepControl]="usernameForm" label="Verify your email">
            <br>
          <form [formGroup]="usernameForm">
            <mat-form-field appearance="outline">
              <mat-label>Email address</mat-label>
              <input matInput type="email" placeholder="john.doe@uams.com" formControlName="username" required>
            </mat-form-field>
            <mat-error *ngIf="usernameForm.value.username != this.profile.email">
                Invalid email
            </mat-error>
          </form>
        </mat-step>
        <mat-step [stepControl]="otpForm" label="OTP Verification">
            <br>
          <form [formGroup]="otpForm">
            
              <mat-label>Enter OTP sent to your email</mat-label>
              <br>
              <ng-otp-input  [formCtrl]="otpControl"  [config]="{length:6}"></ng-otp-input>
            
          </form>
        </mat-step>
      </mat-stepper>

    
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button class="color-primary" cdkFocusInitial [disabled]="!usernameForm.valid || usernameForm.value.username != this.profile.email" (click)="requestOtp()" *ngIf="!isLoading && currenctStepIndex == 0">Get OTP</button>
  <button mat-raised-button class="color-primary" cdkFocusInitial [disabled]="!otpForm.valid" (click)="verifyOtp()" *ngIf="!isLoading && currenctStepIndex == 1">Verify me</button>
  <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>

</mat-dialog-actions>
