<h2 mat-dialog-title class="color-primary">Password change</h2>
<p>Update your password to keep your account safe</p>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="form">

        <mat-form-field appearance="outline">
            <mat-label>Current password</mat-label>
            <input matInput type="text" formControlName="first_name" required>
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{
                passwordHide ? "visibility_off" : "visibility"
                }}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput type="text" formControlName="first_name" required>
            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{
                passwordHide ? "visibility_off" : "visibility"
                }}</mat-icon>
        </mat-form-field>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button class="color-primary" cdkFocusInitial [disabled]="!form.valid" (click)="save()"
        *ngIf="!isLoading">Save</button>
    <mat-spinner diameter="40" *ngIf="isLoading"></mat-spinner>

</mat-dialog-actions>